.fl {
  float: left;
}

.fr {
  float: right;
}

.pointer {
  cursor: pointer;
}

//sass
.img-cover {
  display: block;
  width: 100%;
  height: 100%;
}

@mixin computed($data:150px) {
  font-size: $data;
}